nav{
    width:100px;
    margin: 0;
}
.styleDropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0;
    text-align: center;
    background-color: white;
    transition: 100ms background-color;
}
.styleDropdown:hover{
    background-color: darkgray;
}

.styleDropdown img{
    height: 64px;
    width: 64px;
}
img{
    width: 64px;
    height: 64px;
}