.footerButton{

    width: 150px;
    height: 100px;
    background-color: #dadada;
    transition: 250ms background-color;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footerButton:hover{
    background-color: tomato;
}

img{
    height: 50px;
    width: 50px;
    
}